<hr>
<div class="row">
  <%@movies.each do |movie|%>
	  <div class="col-sm-6 col-md-4 col-lg-3">
	      <div class="show-movies">
	          <a href="<%= movie_path(movie) %>"><img class="img-responsive" src="<%=movie.url%>"></a>
	          <p><b>Nombre:</b> <%=movie.name%></p>
	          <p><b>Director:</b> <%=movie.director%></p>
	          <p><b>Año:</b> <%=movie.year%></p>
	          <p><b>Genre:</b> <%=movie.genre%></p>
	      </div>
	  </div>
  <%end%>
</div>