
 
 <div class="estilosapp2">
 

 
 <!-- PARCIAL HEADER --> 
 <%= render "shared/header" %>

<br>
<br>
<br>
<br>
<br>



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TREDING ON RT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Wonder Woman Rewies</a></li>
      <li><a href="#">DC super heroes movies</a></li>
      <li><a href="#">Cannes tomatometers</a></li>
      <li><a href="#">Summer scorecard</a></li>
    </ul>
  </div>
</nav>




<div class="row">

<div class="col-md-3 col-lg-3 col-xs-12  hidden-sm"> 
<div class="vertical-menu"><div class="menu v">
  <a href="#" class="active">PRINCIPAL</a>
  <a href="#"> <img src="nube.jpg" width="34" height="34" />&nbsp;
  Nuevas pelis</a>
   <a href="#"><img src="fuegos.jpg" width="34" height="34" />&nbsp;
  Popular</a>
    <a href="#"><img src= "estrella.jpg" width="34" height="34" />&nbsp;Mas visto</a>
     <a href="#"><img src="corazon.png" width="34" height="34" />&nbsp;Mas votados</a>
  </div>
 
            
      

</div>   

</div> <!-- end row -->


<div class="container" style="margin-top:2px;">

 <div class="row">

<div class="col-lg-6"> 
    <div class="card" style="width:100%;">
      <img src="http://cdn3.computerhoy.com/sites/computerhoy.com/files/styles/fullcontent/public/novedades/capitan_america_civil_war_0.jpg?itok=V-eEAsKP" alt="Avatar" style="width: 100%; height:300px;">
      <div class="container" style="height: 100px; overflow:hidden;">
        <h4><b>The ligue of justice</b></h4> 
        <p>Fans Thrilled By Trippiest Sequences</br> Yet in Episodes 3 </p> 
      </div>
    </div> 
</div>  <!-- col-lg-6 -->

 <div class="col-lg-3">

<div class="card" style="width:100%;">
      <img src="https://resizing.flixster.com/Ex9j1BNynDvLDQWwSds4ROBTvAk=/540x480/v1.czsxMDI3NzQxMDtqOzE3Mzk4OzEyMDA7Mjc0OzI0MA" alt="Avatar" style="width: 100%; height:300px;">
      <div class="container" style="height: 100px; overflow:hidden;">
        <h4><b>Jane Doe</b></h4> 
        <p>Fans Thrilled By Trippiest Sequences</br> Yet in Episodes 3 </p> 
      </div>
    </div> 
 
 <br>
<br>
<br>

 </div>  <!-- col-lg-3 -->

<br>
<br>
<br>
<div class="row">

 <div class="col-lg-6">

         <div class="boxp">
            <div class="alert bold size18"><i class="fa fa-home fa-1x color-teal"></i>&nbsp;MOVIES OPENING THIS WEEK</div>  
            <table class="table" border="0">
              
             <tbody>
               <% @peliculas.each do |peli| %>
                  <tr>
                    <td>
                      <i class="fa fa-star" style="font-size:20px;color:green;"></i>&nbsp;</span><%= peli.stars %>
                    </td>
                    <td><%= peli.id  %> </td> 
                    <td> 
                     <%= link_to peli.name, pelicula_path(peli), :title => "Visualizar"  %> 
                    </td>
                    
                     <td>
                      <%= peli.main_actor %>
                    </td>
                    <td>
                      <%= peli.year %>
                    </td>
                    
                  </tr>
                <% end %>
              </tbody>
            </table>
           <%= link_to 'Visualizar todas', peliculas_path, :title => "Visualizar", :class => 'btn btn-xs btn-success pull-right', style:"color: white;" %>


        </div> <!-- end box -->     

</div> <!-- end col -->



  <div class="col-lg-5">
   <div class="boxp">
            <div class="alert bold size18"><i class="fa fa-television"></i>&nbsp;NEW TV TONIGHT</div>  
            <table class="table">
              
              <tbody>
               <% @peliculas.each do |peli| %>
                  <tr>
                    <td>
                      <i class="fa fa-star" style="font-size:20px;color:blue;"></i>&nbsp;</span><%= peli.stars %>
                    </td>
                    <td><%= peli.id  %> </td> 
                    <td> 
                     <%= link_to peli.name, pelicula_path(peli), :title => "Visualizar"  %> 
                    </td>
                    
                     <td>
                      <%= peli.main_actor %>
                    </td>
                    <td>
                      <%= peli.year %>
                    </td>
                    
                  </tr>
                <% end %>
              </tbody>
            </table>
           <%= link_to 'Visualizar todas', peliculas_path, :title => "Visualizar", :class => 'btn btn-xs btn-success pull-right', style:"color: white;" %>

        </div> <!-- end box -->    

  </div> <!-- end col -->
</div>

</div> <!-- end row -->



<!-- SEGUNDO ROW -->


 <div class="row">

 <div class="col-lg-7">

         <div class="boxp">
            <div class="alert bold size18"><i class="fa fa-comments"></i></i>&nbsp;TOP COMENTARIOS </div>  



            <table class="table table-hover table-striped">
              
              <tbody>
               <% @peliculas.each do |peli| %>
                  <tr>
                    <td> 
                     <span class="fa fa-star" style="font-size:20px;color:red;">&nbsp;</span> <%= peli.stars %>
                    </td>
                    <td><%= peli.id  %> </td>
                    <td>
                      <%= peli.name %> 

                    </td>
                    
                     <td>
                      <%= peli.main_actor %>
                    </td>
                    <td>
                      <%= peli.year %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
             <%= link_to 'Visualizar todas', peliculas_path, :title => "Visualizar", :class => 'btn btn-xs btn-success pull-right', style:"color: white;" %>
        </div> <!-- end box -->     

      
    </div>
  </div>
</div>


<hr>

</div> <!-- end row -->
</body>

<br>
<br>
<br>
<br>
<div class="container" style="margin-top:2px;">
<div class="row">

 <div class="col-lg-12">

         <div class="boxp">
            <div class="alert bold size18"><i class="fa fa-film"></i>&nbsp;PELICULAS  DE ESTRENO </div>  

            <table class="table table-hover table-striped">
              
              <tbody>
           <% @peliculas.each do |peli| %>

<td> 
                     <span class="fa fa-star" style="font-size:20px;color:purple;">&nbsp;</span> <%= peli.name %>
                    </td>
                    <td><%= peli.id  %> </td>
                    <td>
                      <%= link_to peli.name, pelicula_path(peli), :title => "Visualizar"  %> 
                    </td>
                    
                     <td>
                      <%= peli.director %>
                    </td>
                    <td>
                      <%= peli.year %>
                    </td>
                    <td>
                    <a href="#"><img src="<%=peli.url%>"></a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
             <%= link_to 'Visualizar todas', peliculas_path, :title => "Visualizar", :class => 'btn btn-xs btn-success pull-right', style:"color: white;" %>
        </div> <!-- end box -->     

      
    </div>
 
</div>

<hr>

</div> <!-- end row -->
</body>

<div class="row">
  <div class="col-sm-12" style="text-align:center;">
    <%= form_tag(root_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= submit_tag t('general.send') %>
    <% end %>
  </div>
</div>

 
<div class="row">
    <%@peliculas.each do |peli|%>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="latest-movie">
            <a href="#"><img src="<%=peli.url%>"></a>
            <p><b>Nombre:</b> <%=peli.name%></p>
            <p><b>Director:</b> <%=peli.director%></p>
            <p><b>Año:</b> <%=peli.year%></p>
        </div>
    </div>
    <%end%>
</div>
<%= form_tag(root_path, :method => "get", id: "search-year-form") do %>
      <%= text_field_tag :search_year, params[:search_year], placeholder: t('general.año')  %>
 <%= submit_tag t('general.send') %>
    <% end %>
    </div>
    
  

<!-- PARCIAL FOOTER --> 
<%= render "shared/footer" %>

</div>

  
</div>

</div>
</div> <!-- end container -->  

</div> <!-- end estilosapp2 



