

 <div class="estilosapp2">
 
<%= form_for :pelicula, url: pelicula_path(@pelicula), method: :patch, html: { multipart: true } do |f| %> 
 
 
 <!-- PARCIAL HEADER --> 
 <%= render "shared/header" %>
 <br>
 <br>
 <br>
 <br>
 <br>
 
 

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TREDING ON RT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Wonder Woman Rewies</a></li>
      <li><a href="#">DC super heroes movies</a></li>
      <li><a href="#">Cannes tomatometers</a></li>
      <li><a href="#">Summer scorecard</a></li>
    </ul>
  </div>
</nav>




<div class="controladorej2">

<div class="box">
    <div class="alert"><i class="fa fa-th-large fa-1x color-blue"></i>&nbsp;Editar Pelicula</div> 
        <%= form_for(@pelicula) do |f| %>

        <div class="field">
            <%= f.text_field :name, placeholder: "Nombre", class:"form-control" %>
        </div> 
           
<div class="field">
            <%= f.text_field :description, placeholder: "descripcion", class:"form-control" %>
        </div> 

        <div class="field">
            <%= f.text_field :stars, placeholder: "Stars", class:"form-control" %>
        </div> 
        <div class="field">
            <%= f.text_field :main_actor, placeholder: "Actor", class:"form-control" %>
        </div>    

         <div class="field">
            <%= f.text_field :director, placeholder: "Director", class:"form-control" %>
        </div>   
         <div class="field">
            <%= f.text_field :genre, placeholder: "
            Genero", class:"form-control" %>
        </div> 
         <div class="field">
            <%= f.text_field :url, placeholder: "Url", class:"form-control" %>
        </div>     
        <div class="field">
            <%= f.text_field :year, placeholder: "Año", class:"form-control" %>
        </div>    
        <div class="field">
            <%= f.submit "Guardar", class:"btn btn-sm btn-danger white pull-right", style:"margin-top: 15px;" %>
        </div>
    <% end %>
    <%= link_to 'Listado de Peliculas', @pelicula, class:"btn btn-sm btn-primary", style:"margin-top: 15px;" %> 
  <br></br> 
  
  
  </ol>  
</div> <!-- end box -->

<div class="row">
    <% if @pelicula.errors.any? %>
     <div class="margin20">
        <%= @pelicula.errors.full_messages.each do |message| %>
            <div class="message be-red white top-space text-center">
                * <%= message %>
            </div>
           <% end %> 
        <% end %>
    </div>        
</div> <!-- end row -->




  
 <% end %>


  

<!-- PARCIAL FOOTER --> 
<%= render "shared/footer" %>



 



</div> <!-- end container -->  

</div> <!-- end estilosapp2 -->