<div class="controladorej2">

 <div class="boxp">
    <div class="alert"><i class="fa fa-home fa-1x color-teal"></i>&nbsp;Listado</div>  
    <table class="table table-bordered table-hover table-striped">
      <thead class="bg-danger">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <% @countries.each do |coun| %>
          <tr>
            <td><%= coun.id  %> </td>
            <td>
              <%= coun.name %>
            </td>
            <td align="center">
              <%= link_to '', countrie_path(coun), :title => "Visualizar", :class => 'btn btn-sm btn-success fa fa-search', style:"color: white;" %>
              <%= link_to '', edit_countrie_path(coun), :title => "Editar", :class => 'btn btn-sm btn-primary fa fa-edit', style:"color: white;" %>
              <%= link_to '', { action: :destroy, id: coun.id }, method: :delete, :title => "Eliminar",:class => 'btn btn-sm btn-danger fa fa-close', style:"color: white;" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Nuevo Countrie', new_countrie_path, title:"Añade un nuevo countrie !!", class:"btn btn-sm btn-danger" %>
</div> <!-- end box -->     


</div> <!-- end controladorej2 -->
